.header{
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    text-align: right;
    padding-bottom: 5px;
    color: #000000;
    text-size-adjust: 15px;
    background-color: rgba(255, 250, 250, 0.871);
    z-index: 3;
    
}

.mainbody{
    position: absolute;
    top: 114px;
    left: 114px;
    right: 114px;
    bottom:auto;
    text-align: center;
    padding-right: 5px;
    padding-top: 5px;
    border-top: #000000 solid 1px;
    background-color: rgba(255, 250, 250, 0.738);
    z-index: 1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.text:hover{
    font-weight: bold;
}

.alignleft{
text-align: left;
}
.subheading{
    font-weight: bolder;
    font-size: 15px;
}

.color{
    color: purple;
    font-size: 30px;
}